.details-bar.cleanslate {
  display: none !important;
}

h2{
  position: relative;
  height: 100px;
  padding: 10px 10px 10px 10px;
  margin-left: 25%;
  font-family: 'Segoe UI',Verdana, Geneva, sans-serif;
  color: purple;

}

.url_entry
{
  position: relative;
  height: 100px;
  width: 60%;
  padding: 10px 10px 10px 10px;
  margin-left: 20%;
  border: 3px;
  border-style: solid;
  border-color: #999999;
  font-family: 'Segoe UI',Verdana, Geneva, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  color: #777777;
}

.url_entry_title
{
  position: relative;
  width: 60%;
  padding: 0px 0px 0px 0px;
  margin-left: 20%;
  font-family: 'Segoe UI',Verdana, Geneva, sans-serif;
  font-size: larger;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
}

.url_results_title
{
  position: relative;
  width: 40%;
  padding: 0px 0px 0px 0px;
  margin-left: 20%;
  margin-top: 5%;
  font-family: 'Segoe UI',Verdana, Geneva, sans-serif;
  font-size: larger;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  color: #666666;
}

.url_target
{
  position: relative;
  height: 100px;
  width: 60%;
  padding: 10px 10px 10px 10px;
  margin-left: 20%;
  border: 3px;
  border-style: solid;
  border-color: #999999;
  font-family: 'Segoe UI',Verdana, Geneva, sans-serif;
  font-size: larger;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  color: #111111;
}

.clear_container
{
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;

}

.adv_text
{
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-top: 30px;
  font-family: 'Segoe UI',Verdana, Geneva, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  color: #555555;
  text-align: center;
}

.clear_button
{
  position: relative;
  float: right;
  font-family: Verdana;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  color: #666666;
  text-decoration: none;
  background-color: #e7e7e7;
}

a:hover {
  color: #CC0000;
}

.office_link
{
  color: #ff9000;
}
